.list-page {
    padding: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-input, .price-input, .model-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 200px;
    flex: 1;
}

.search-input:focus, .price-input:focus, .model-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    flex-shrink: 0;
}

.btn:hover {
    background-color: #0056b3;
}

.no-products {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

/* Адаптивные стили для различных устройств */
@media (min-width: 1200px) {
    /* Для больших экранов (ПК) */
    .data-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Для ноутбуков */
    .data-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Для планшетов в альбомной ориентации */
    .data-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 767px) {
    /* Для планшетов в портретной ориентации и телефонов */
    .data-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .filters {
        flex-direction: column;
        align-items: center;
    }

    .search-input, .price-input, .model-select, .btn {
        width: calc(100% - 20px);
        margin-bottom: 10px;
    }
}
